
<footer>
    <div class="outer" style="text-align: center;color: white;">
        <div id="footer-info" class="inner">
          &copy; <%= date(new Date(), 'YYYY') %> 凯尼真空设备有限公司
        </div>
    </div>
</footer>