
<div class="bannerList" style="background-image:url(<%- url_for('images/post/banner.jpg') %>"></div>
    <div class="cw">
    <div class="mainPd">
        <div class="clearfix" style=" width:100%;">
            <div class="sidebarL fl">
                <p class="sidebarLtitle">职业发展<span></span></p>
            </div>
                <div class="MBX">
                    <div class="fr">
                        <a href="/"><img src="<%- url_for('images/products/home.png') %>" width="10" height="10"><img src="<%- url_for('images/products/proXueRight.png') %>" width="3" height="5"></a>
                        <span>职业发展</span>
                    </div>
                </div>
                <div class="contactPd">
                    <p class="postP">凯尼真空的价值观以诚信、尊重为基础；责任、勇气为阶梯；意识、卓越为目标，教练式的管理团队给予员工充分的信任和创造空间，旨在建立一支不断发掘员工潜力，激发内心本质，认同个体天赋的团队。凯尼真空的人力资源系统运用本质领导力，将公司明智企业文化充分渗透到每个员工的日常工作行为中，力图提高每个员工的领导力，为其创造持续改进，不断提高的个人发展通道。在此过程中，追寻个人需求与公司需求的共同点以期得到共赢。正因为时时以人为本，关注员工，尊重个人选择的人力资源理念，在凯尼真空集团中，几十年工龄的老员工比比皆是。</p>
                    <div class="postBg" style="background:none;">
                        <div class="postWord">
                            <p class="post18 mt20">凯尼真空欢迎愿与之共存，维系一生友谊的志同道合者加入我们！</p>
                            <img src="<%- url_for('images/post/welcome.png') %>" width="375" height="36"><br>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
