<section>
    <div class="bannerList" style="background-image:url(<%- url_for('images/download/banner.jpg') %>);"></div>
    <div class="cw">
        <div class="mainPd">
            <div class="clearfix" style=" width:100%;">
                <div class="sidebarL fl">
                    <p class="sidebarLtitle">产品样册<span></span></p>
                </div>
                    <div class="MBX">
                        <div class="fr">
                            <a href="/"><img src="<%- url_for('images/products/home.png') %>" width="10" height="10"><img src="../images/products/proXueRight.png" width="3" height="5"></a>
                            <span>产品样册</span>
                        </div>
                    </div>
                    <div class="contactPd mb80">
                        <div class="clearfix">
                            <div class="downWidth mr53 fl">
                                <h4>中文版</h4>
                                <ul class="downUl">
                                    <li><a href="mailto:sales@kinneyvacuum.com.cn?subject=凯尼真空产品目录">凯尼真空产品目录</a></li>     
                                </ul>
                            </div>
                            <div class="downWidth fl">
                                <h4>英文版</h4>
                                <ul class="downUl1">
                                    <li><a href="mailto:sales@kinneyvacuum.com.cn?subject=Product%20Catalog">Product Catalog</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
					<h3 style="font-size: 24px;text-align:center; margin-bottom: 40px;">敬请发送邮件到<a href="mailto:sales@kinneyvacuum.com.cn?subject=凯尼真空产品目录">sales@kinneyvacuum.com.cn</a>获取产品样册。</h3>
            </div>
        </div>
    </div>
</section>