<section>
    <div class="bannerBox">
    <!--banner-->
    <div class="main_visual">
        <div class="main_image">
            <ul style="width: 1349px; overflow: visible;">
                <li><a href="products/" style="background-image:url('images/uploads/2015012302364220779.jpg');"></a></li>
                <li><a href="products/blowers.html" style="background-image:url('images/uploads/2015012903050896560.jpg');"></a></li>
            </ul>
            <a href="javascript:;" id="btn_prev"></a>
            <a href="javascript:;" id="btn_next"></a>
        </div>
    </div>
    <!--newsList    -->
     <div class="newsBody">
         <div class="cw">
                <strong class="fl">最新消息</strong>
                <div class="scrollBody fl">
                    追求卓越，关注生活！
                </div>
                <div class="btnBody fr">
                    <a href="javascript:;" class="leftBtn have">&lt;</a>
                    <a href="javascript:;" class="rightBtn">&gt;</a>
                </div>
            </div>
        </div>
    </div>

    <div class="indexLast">
        <div class="cw">
            <div class="clearfix">
                <div class="indexLastL fl">
                    <h4 class="indexLH4">凯尼真空产品系列</h4>
                    <div class="carousel">
                        <div class="jCarouselLite" id="demo-02">
                            <ul>
                            <li>
                                <a href="products/" class="Aword">真空产品线<span>MORE</span></a>
                                <a href="products/" class="AimgList">
                                <img src="images/index/indexImg1.png" width="161" height="126">
                                </a>
                            </li>
                            <li>
                                <a href="products/blowers.html" class="Aword">风机产品线<span>MORE</span></a>
                                <a href="products/blowers.html" class="AimgList">
                                <img src="images/index/indexImg2.png" width="161" height="126">
                                </a>
                            </li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="indexLastR fl">
                    <h4 class="indexLH4">凯尼真空解决方案</h4>
                    <p class="indexLp">凯尼真空为化工，制药，航空航天，环保，食品，电力等行业提供完美的解决方案，满足客户的苛刻需求。</p>
                    <a href="products/solution.html" style="margin-right: 0px;">查看详情</a>
                    <img src="images/index/indexRImg.jpg" width="463" height="127">
                </div>
            </div>
        </div>
    </div>
    </section>
    <script>
    $(document).ready(function() {
        $("#btn_prev,#btn_next").show();
        $(".indexLast a:last").css("margin-right", 0);
        $(".caseList li:last").css("border-right", "none");
        $(".caseList li a:last").hover(function() { $(this).css("border-right", "none"); });

        var $dragBln = false;
        $(".main_image").touchSlider({
            flexible: true,
            speed: 200,
            btn_prev: $("#btn_prev"),
            btn_next: $("#btn_next"),
            paging: $(".flicking_con a"),
            counter: function(e) {
                $(".flicking_con a").removeClass("on").eq(e.current - 1).addClass("on");
            }
        });
        $(".main_image").bind("mousedown", function() {
            $dragBln = false;
        })
        $(".main_image").bind("dragstart", function() {
            $dragBln = true;
        })
        $(".main_image a").click(function() {
            if ($dragBln) {
                return false;
            }
        })
        var timer = setInterval(function() { $("#btn_next").click(); }, 5000);
        $(".main_visual").hover(function() {
            clearInterval(timer);
        }, function() {
            timer = setInterval(function() { $("#btn_next").click(); }, 5000);
        })
        $(".main_image").bind("touchstart", function() {
            clearInterval(timer);
        }).bind("touchend", function() {
            timer = setInterval(function() { $("#btn_next").click(); }, 5000);
        })
    });
    </script>